<footer class="princ">
	
	<%= partial "share" %>
	
	<nav>
		<a target="_blank" href="http://twitter.com/numaparis"><em>twitter</em></a>
		<a target="_blank" href="https://www.facebook.com/numaparis"><em>facebook</em></a>
	</nav>
	
</footer>