<footer class="princ">
	<div class="container">	
		<p class="notice">La campagne de crowdfunding #YesWeCrowd est réalisée par SmartAngels, Conseiller en investissements participatifs immatriculé auprès de ORIAS sous le numéro 13000694. Nous vous rappelons qu’un investissement au capital de start-up et PME de croissance présente un risque de perte en capital pouvant représenter jusqu’à la totalité de l'investissement réalisé, ainsi qu'un risque d'absence de liquidité à l'issue de la période d'investissement souhaitée. N’investissez jamais de l’argent que vous ne seriez pas prêt à perdre et diversifiez au maximum vos investissements. Les informations présentées ci-dessus ne constituent pas des recommandations d’investissement et ne sont en aucun cas suffisantes pour justifier une décision d’investissement. Avant toute souscription de titres financiers, nous vous invitons à prendre connaissance de l’ensemble des informations relatives à l’opération et à la société, et notamment la rubrique « Facteurs de Risques » document d’information disponible sur <a href="https://www.smartangels.fr/" target="_blank">SmartAngels.fr</a> dans l'onglet "Documents". Nous attirons votre attention sur les risques spécifiques de NUMA, présentés au chapitre II "Risques liés à l’activité de l’émetteur et son projet" du document d’information. Retrouvez plus d’information concernant les risques et règles de bonne gestion patrimoniale sur <a href="https://www.smartangels.fr/" target="_blank">SmartAngels.fr</a></p>
	</div>
	<nav>
		<a target="_blank" href="http://twitter.com/numaparis"><em><%= image_tag 'tw.svg', :alt => "tw" %> twitter</em></a>
		<a target="_blank" href="https://www.facebook.com/numaparis"><em><%= image_tag 'fb.svg', :alt => "fb" %> facebook</em></a>
	</nav>
</footer>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PDG9JD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDG9JD');</script>
<!-- End Google Tag Manager -->
