---
title: Jour 2
date: 2015-04-21 18:47 CEST
tags:
category: book
published: true
---

Je n’avais jamais entendu parler du NUMA jusqu’à ce qu’Arnaud m’invite à déjeuner dans un restaurant Thaïlandais de la rue du Nil.

Entre lui et moi c’est une vieille histoire... quinze ans d’amitié.

Je l’avais connu alors que je venais de quitter le journal- isme pour entrer dans une grande entreprise. « Toi qui viens de la télé, m’avait on dit, tu sais ce que c’est qu’un écran. Alors tu vas t’occuper de l’internet ».
Comme je ne savais pas ce qu’était l’internet j’avais ac- cepté le job.

Pour commencer j’ai reçu dans mon nouveau bureau une ribambelle de spécialistes qui me parlèrent d’ht- ml, de communication qui n’était plus top down mais bottom up, de DNS, de CRM, de bande passante, de java script, de serveur 2si... Plus je les écoutais et plus je comprenais, aux vues de leurs honoraires, que l’internet était avant tout une technologie dispendieuse.
Puis Arnaud est arrivé. Il m’a expliqué très simple- ment et gratuitement ce qu’était ce nouveau réseau, le numérique, et j’ai commencé à y voir plus clair.

Alors, lorsqu’il m’a demandé de lui accorder une faveur je l’ai écouté.


<div><%= image_tag 'img_thai.jpg', :class => "img-responsive", :alt => "Thai" %></div>

Connaissez-vous le NUMA Ludovic ?

"Le NUMA ? Non. Qu’est ce que c’est ?"
"C’est justement le service que vous pourriez me rendre : écrire l’histoire du NUMA."
"Vous avez un budget ?"
"..."
"Je vois... peut être pourriez vous m’en dire plus. Juste pour m’appâter."
"Le plus simple serait... avez-vous un peu de temps après le déjeuner ?"
"Oui."
"Alors je vais vous faire visiter..."
"C’est aussi complexe que cela à raconter ?"
"Vous verrez."
Et il m’amena au NUMA.