---
pageable: true
per_page: 15
layout: blank
---

<div class="container">
	<div id="zabook">
			<div class="holder">
				<h1><a target="_blank" href="https://medium.com/@yeswecrowd/yeswecrowd-7192015c98b3">#yeswecrowd</a></h1>
				<strong><a target="_blank" href="https://medium.com/@yeswecrowd/yeswecrowd-7192015c98b3">Découvrez en 40 pages l'exploration de NUMA et du Numérique</a></strong>
				<p><em>Pour expliquer NUMA nous avons eu l'idée de faire appel à un romancier, Ludovic Roubaudi. Nous l'avons invité à passer un mois dans nos murs et lui avons donné une seule consigne : Raconte nous ce que tu verras. Les pages qui suivent sont son regard sur NUMA: ses incompréhensions, ses étonnements, ses interrogations. Ce n'est pas l'histoire de NUMA. C'est l'histoire d'un viviteur comme les autres qui s'est demandé "qu'est ce que c'est NUMA"</em></p>
			</div>
	</div>
	<p class="notice" style="max-width:600px; text-align:center; margin-left:auto; margin-right:auto;">Si vous souhaitez découvrir le livre dans son intégralité une version imprimée est disponible sur le stand #yeswecrowd au rez-de-chaussée du <strong>NUMA au 39 rue du Caire, 75002 Paris.</strong></p>
</div>