---
pageable: true
per_page: 15
layout: blank
---

<div class="container">
	<div id="zabook">
		<a target="_blank" href="https://medium.com/@yeswecrowd/yeswecrowd-7192015c98b3"><%= image_tag 'book_cover.jpg', :class => "img-responsive" %></a>
	</div>
	<p class="notice" style="max-width:600px; text-align:center; margin-left:auto; margin-right:auto;">Si vous souhaitez découvrir le livre dans son intégralité une version imprimée est disponible sur le stand #yeswecrowd au rez-de-chaussée du <strong>NUMA au 39 rue du Caire, 75002 Paris.</strong></p>
</div>