---
pageable: true
per_page: 15
layout: blank
---

<div class="container">
	<div id="merci" class="text-center">
		<p>Merci pour votre recommandation. Nous la mettrons en ligne très bientôt</p>
	</div>
</div>